{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <h2 class="text-center">PIN игры</h2>
    <p class="text-center fs-2">{{ pin }}</p>
</div>
{% if message %}
    <div class="container"  style="width: 500px;">
        <div class="alert alert-warning text-center" role="alert" style="margin-top: 25px;">
            {{ message }}
        </div>
    </div>
{% endif %}
{% endblock content %}

{% block script %}
    <script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 
{% endblock script %}