{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container" style="height: 100%; display: flex; justify-content: center; align-items: flex-start; padding: 25px 0;">
  <chess-board hideNotation="True" orientation="white" draggable-pieces position="start" style="width: 590px;"></chess-board>
</div>

{% endblock content %}

{% block script %}

<script type="module" src="{% static 'js/main.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="module" src="/node_modules/chessboard-element/index.js"></script>
<script type="module" src="https://unpkg.com/chessboard-element?module"></script>
<script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


{% endblock script %}